allow mm-qcamerad sysfs:file write;
allow mm-qcamerad system_data_file:sock_file { create unlink };
allow mm-qcamerad media_rw_data_file:dir search;
allow mm-qcamerad qdsp_device:chr_file { open read ioctl };
