allow qti_init_shell btnvtool_exec:file rx_file_perms;
allow qti_init_shell kmsg_device:chr_file w_file_perms;
allow qti_init_shell bluetooth_data_file:file r_file_perms;
allow qti_init_shell bluetooth_loader_exec:file rx_file_perms;
type_transition qti_init_shell bluetooth_loader_exec:process bluetooth_loader;
