# TODO b/17015082
allow system_app shell_data_file:dir search;
allow system_app time_daemon:unix_stream_socket connectto;
allow system_app touch_key_sysfs:file rw_file_perms;
allow system_app touch_key_sysfs:dir rw_dir_perms;
allow system_app lcd_dev:file rw_file_perms;
allow system_app vibe_dev:file rw_file_perms;
allow system_app input_device:dir r_dir_perms;
allow system_app input_device:chr_file rw_file_perms;
