# MDM9x25
on init
  #chown root system /sys/devices/platform/msm_hsusb/gadget/wakeup
  #chmod 220 /sys/devices/platform/msm_hsusb/gadget/wakeup
  write /sys/class/android_usb/android0/f_rmnet/transports hsic,hsic
  write /sys/class/android_usb/android0/f_rmnet/transport_names rmnet_hsic
  setprop persist.rmnet.mux enabled
  write /sys/module/rmnet_usb/parameters/mux_enabled 1
  write /sys/module/rmnet_usb/parameters/no_fwd_rmnet_links 8
  write /sys/module/rmnet_usb/parameters/no_rmnet_insts_per_dev 17
  write /sys/module/rmnet_usb/parameters/rmnet_data_init 1
  chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
