# MDM9x35
on init
  write /sys/class/android_usb/android0/f_rmnet/transports qti,ether
  write /sys/module/g_android/parameters/tx_qmult 2
  write /sys/module/g_android/parameters/min_cpu_freq 1036800
